@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Frijole&family=Audiowide&display=swap");
body {
  background-color: white;
  background-image: url(/images/hel.jpg);
  color: white;
  font-family: Roboto Slab; }

a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  text-decoration: none; }
  a:focus, a:hover {
    color: white; }

#title {
  font-family: Frijole;
  font-size: 4em;
  margin-top: 15px;
  margin-left: 20px; }

#tagline {
  font-family: Audiowide;
  font-size: 1.8em;
  margin-left: 20px; }

#nav {
  float: right;
  margin-top: 15px;
  margin-right: 20px; }
  #nav .link {
    display: inline-block;
    margin-left: 20px; }
