<div id='nav'>
  <div class='link'><a href='https://discourse.paralysis.space'>Discourse</a></div>
  <div class='link'><a href='https://discord.gg/7nYYKMvkQg'>Discord</a></div>
</div>
<div id='title'>Sleep Paralysis</div>
<div id='tagline'>An EVE Online Corporation</div>
